div(id="main", ng-style="mainStyle('/large')", when-scrolled="loadMore()")
	div(ng-repeat="result in results | searchFilter:search:(count*amount('/large'))", class="largeResult", ng-click="popUpResult(result.id[0])")
		div(class="largeImage") 
			image(ng-src='{{image(result.image[0])}}', width=750, height=500)
		div.details
			div 
				span Type
				span Location
				span(class="price") R{{price(result.price[0])}}  
div.resultPopUp(ng-visible="visible", ng-style="activityStyle")
	div {{activity.name[0]}}
div#resultBackground(ng-visible="visible", ng-click="popUpResult()")