div(id="main", ng-style="mainStyle", ng-click="loadMore()", when-scrolled="loadMore()")
	div(ng-repeat="result in results", class="largeResult")
		div(class="largeImage") 
			image(ng-src='{{image(result.image[0])}}', width=750, height=500)
		div.details
			div 
				span Type
				span Location
				span(class="price") R{{price(result.price[0])}}  