div(id="main", ng-style="mainStyle", when-scrolled="loadMore()")
	div(ng-repeat="result in results", class="mediumResult", ng-click="popUpResult(result.id[0])")
		div(class="mediumImage") 
			image(ng-src='{{image(result.image[0])}}', width=279, height=185)
		div.details
			div 
				| Type
			div 
				| Location
				span(class="price") 
					| R{{price(result.price[0])}}
div.resultPopUp(ng-visible="visible", ng-style="activityStyle")
	div {{activity.name[0]}}
div#resultBackground(ng-visible="visible", ng-click="popUpResult()")