div(ng-loading="results true")
  div#mainLoadingWheel(ng-style="mainLoadingStyle", class="loadingWheel")
div(id="main", ng-style="mainStyle('/medium')", when-scrolled="loadMore()", ng-loading="results false")
  div(ng-repeat="result in results | searchFilter:search:themes:budget:duration:sort:(count*amount('/medium'))",
   class="mediumResult", ng-click="popUpResult(result.id[0])")
    div(class="mediumImage") 
      image(ng-src='{{image(result.image[0])}}', width=300, height=200)
    div.mediumDetails
      div.details 
        div.topHalf 
          | {{result.service_category[0]}}
          div.duration {{getDuration(result.duration[0])}} hrs
        div.bottomHalf 
          div.location {{result.location[0]}}
          div.price R{{price(result.price[0])}}