div(ng-loading="results true")
  div#mainLoadingWheel(ng-style="mainRestartingStyle")
   | The server is restarting. 
   br
   | Please refresh the page in about 1 minute.
div(id="main", ng-style="mainStyle('/mobile')", when-scrolled="loadMore()")
  div(ng-repeat="result in results | searchFilter:search:themes:budget:duration:sort:(count*amount('/mobile'))",
   class="smallResult", ng-click="popUpResult(result.id[0])")
    div(class="smallImage") 
      image(ng-src='{{image(result.image[0])}}', width=231, height=154)
    div.smallDetails
      div.details 
        div.topHalf 
          | {{result.service_category[0]}}
          div.duration {{getDuration(result.duration[0])}} hrs
        div.bottomHalf 
          div.location {{result.location[0]}}
          div.price R{{price(result.price[0])}}