section#main(data-transition='slide')
  header
    nav(class='left box')
      a(href='#menu', data-router='aside', data-icon='menu')

    nav(class='right box')
      a(href='#', data-icon='search')

    div(class='centered title with-subtitle')
      span.partA A
      span.partB ctivity
      span.partA E
      span.partB xplorer
      small.subtitle Experience More

  article#results(class='active block')
    div
      div(align='center', ng-repeat='result in results')
        img(ng-src='{{image(result.image[0])}}')

aside#menu
  header(data-title="Menu")
    article.list
      ul
        li(class="current results")