section#main(data-transition='slide')
  header(class='headBlue')
    nav(class='left box menuButton')
      a(href='#menu', data-router='aside', data-icon='menu', class='white')

    nav(class='right box searchButton')
      a(href='#', data-icon='search', class='white')

    div(class='centered title with-subtitle logo')
      span.headA A
      span.headB ctivity 
      span.headA E
      span.headB xplorer

  article#results(class='active block backBlue', data-control='carousel')
    div#searchMenu
    div#loading(ng-visible='loadingResults')
    div#resultsView(ng-loading='results false', class='overthrow')
      div.result(ng-repeat='result in results | searchFilter:search:themes:budget:duration:sort:500')
        div.resultImageDiv
          img(ng-src='{{image(result.image[0])}}', class='resultImage')
        div.resultDetails
          span.topLeft {{result.service_category[0]}}
          span.topRight R{{price(result.price[0])}}
        div.resultDetailsMore
          span.bottomLeft {{result.location[0]}}
          span.bottomRight {{getDuration(result.duration[0])}} hrs

  article#account(class='list indented backBlue')
    div
        
  article#logIn(class='list indented backBlue')
    div
        
  article#about(class='list indented backBlue')
    div
        
  article#help(class='list indented backBlue')
    div

aside#menu(class='left')
  header(data-title="Menu")
  article#sideMenu(class="list scroll active")
    ul
      li(class="active")
        a(href='#results', data-router='article')
          strong Results
      li
        a(href='#account', data-router='article')
          strong Account
      li
        a(href='#logIn', data-router='article')
          strong Log In
      li
        a(href='#', class='logout')
          strong Log Out
      li
        a(href='#about', data-router='article')
          strong About
      li
        a(href='#help', data-router='article')
          strong Help  
