doctype 5
html(lang='en', ng-app='activity')

  head
    title= title
    meta(name="detectify-verification", content="505388be3469f9a32b6e99eabb1954e0")
    meta(name="google-site-verification", content="X9pkc_puF75Lwrhy0r8iDoXjFafIuAU-qK4MkZApmvg")
    link(rel='stylesheet', href='/css/jquery-ui-1.9.1.custom.min.css')
    link(rel='stylesheet', href='/css/angular-ui.min.css')
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css")
    link(rel='stylesheet', href='/css/main.css')
    script(type='text/javascript', src='/js/jquery-1.8.2.min.js')
    script(type='text/javascript', src='/js/jquery-ui-1.9.1.custom.min.js')
    script(type='text/javascript', src='/js/extra.js')
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38263121-1']);
      _gaq.push(['_setDomainName', 'activityexplorer.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body(ng-controller='AppCtrl')  
    div#header
      div#logo  
        image(src='/img/logo-small2.png', height=28, width=289)
      div#search  
        div.explore 
          span Explore
        input#searchBar(type='text', name='explore', size='30', ng-model="search", spellcheck="false")
      nav#topButtons(ng-model="head")
        ul.headerList
          button.headButton(type='button', value='themes', id="themes")
            span Themes 
          button.headButton(type='button', value='refine', id="refine")
            span Refine  
          button.headButton(type='button', value='sort', id="sort")
            span Sort
    div#themesPopUp 
      div#themeFront(ng-visible="themeVisible")
        div#themeTop
          button#themeTitle(ng-click="themeTitleClick(themes, !themes.selected)")
            | Themes
        div#themeLeft
          div(ng-repeat="theme in themes.left")
            button.themeButton(ng-click="themeButtonClick(theme)")  {{theme.name}} 
            button.themeSelectButton(ng-class="select(theme.selected)", ng-click="themeSelectClick(theme)")
        div#themeRight  
          div(ng-repeat="theme in themes.right")
            button.themeButton(ng-click="themeButtonClick(theme)")  {{theme.name}}
            button.themeSelectButton(ng-class="select(theme.selected)", ng-click="themeSelectClick(theme)")
      div#themeBack(ng-visible="!themeVisible") 
        div#typeTop
          div#typeBack 
            button#backButton.themeButton(ng-click="themeVisible=!themeVisible") Back
          button#typeTitle(ng-click="themeTitleClick(theme, !theme.selected)")
            | {{theme.name}}
        div#themeLeft
          div.typeBox(ng-repeat="type in theme.left")
            span.typeSpan {{type.name}} 
            button.themeSelectButton(ng-class="select(type.selected)", ng-click="typeSelectClick(type, theme)")
        div#themeRight  
          div.typeBox(ng-repeat="type in theme.right")
            span.typeSpan {{type.name}}
            button.themeSelectButton(ng-class="select(type.selected)", ng-click="typeSelectClick(type, theme)")
        
    div#refinePopUp
      div#refineInside
        div#budgetDiv
          | Budget:
          span#budget R5000 or more
        div.slider(id="budgetS", slider="budget")
        div#durationDiv
          | Time:
          span#duration 3 days or more
        div.slider(id="durationS", slider="duration")
    div#sortPopUp
      button.sortButton(class='ng-class: sortButtonClass("random")', ng-click="sortSelect('random')") Random
      button.sortButton(class='ng-class: sortButtonClass("priceLow")', ng-click="sortSelect('priceLow')") Price Low
      button.sortButton(class='ng-class: sortButtonClass("priceHigh")', ng-click="sortSelect('priceHigh')") Price High
      button.sortButton(class='ng-class: sortButtonClass("timeShort")', ng-click="sortSelect('timeShort')") Time Short  
      button.sortButton(class='ng-class: sortButtonClass("timeLong")', ng-click="sortSelect('timeLong')") Time Long        
    div#invisiBackground

    block content

    div#resultPopUp(ng-style="activityStyle")
      div#activityLoading(ng-loading="activity true")
        div#resultLoadingWheel(class="loadingWheel")
      div(ng-loading="activity false")
        div#resultTopBar
          span#resultTabTitle(ng-click='hideTabs()'){{activity.name[0]}}
          div#resultTabButtons 
            div#resultDetailsButton(class="resultTabButton", ng-click="toggleResultDetails()", ng-class="resultTabSelected('details')")
              | Details
            div#resultBookingButton(class="resultTabButton", ng-click="toggleResultBooking()", ng-class="resultTabSelected('booking')")
              | Book
        div.resultSlider        
          div.resultImages(ng-style="imagesStyle", ng-click='hideTabs()')
            span.resultImage(ng-repeat="image in activity.images[0].image")
              image(ng-src="{{image.medium[0]}}", width=840, height=560, class="service_image")
          div#popUpButtons(ng-click='hideTabs()')   
            div.imageButton(id="leftButton", ng-click="activityImage(activity.images[0].image, false)")   
            div.imageButton(id="rightButton", ng-click="activityImage(activity.images[0].image, true)") 
            ul.imageNavigation
              li.imageNavigationButton(ng-repeat="image in activity.images[0].image", ng-style="imageNavigationStyle(image)", 
                ng-click="imageNavigate(image)") 
          div#resultTabs  
            div#resultDetails(class="resultTab")
              table.detailsTable
                tr
                  td Description: 
                  td {{activity.description[0]}}
                tr
                  td Notes: 
                  td {{activity.instructions[0]}}
                tr
                  td Where: 
                  td {{activity.where[0]}}
                tr
                  td When:  
                  td{{activity.when[0]}}
                tr
                  td Weather: 
                  td{{activity.weather[0]}}
                tr
                  td What to Wear: 
                  td {{activity.wear[0]}}
                tr
                  td Things to bring: 
                  td {{activity.bring[0]}}
                tr
                  td Guest/Spectators: 
                  td {{activity.guests[0]}}              
                tr
                  td Inclusions: 
                  td {{activity.inclusions[0]}}
                tr
                  td Exclusions: 
                  td {{activity.exclusions[0]}}
                tr
                  td Requirements: 
                  td Minimum Age: {{activity.min_age[0]}}, Maximum Weight: {{activity.max_weight[0]}}, 
                    | Minimum Height: {{activity.min_height[0]}}, Maximum Height: {{activity.max_height[0]}},
                    | Fitness: {{activity.fitness[0]}}, Qualifications: {{activity.qualifications[0]}}, 
                    | Certification: {{activity.certification[0]}}, Experience Level: {{activity.experience_level[0]}}
            div#resltBookingSection      
              div#resultBooking(class="resultTab")
                div#bookingDetailsSection
                  input#datePicker(ng-model="selectedDate",  value="{{selectedDate | date:'dd MMMM yyyy'}}", ui-date, readonly)
                  div#people
                    span#adults 
                      | Adults 
                      button#adultsButton(class="toggleDropDownButton", value="adults") {{selectedAdults}}
                    span#children 
                      | Children 
                      button#childrenButton(class="toggleDropDownButton", value="children") {{selectedChildren}}
                div#bookingSection
                  div(ng-visible="!availabilityLoading")
                    div(ng-visible="availabilityDone")  
                      div#bookTime(ng-available="available[0].inventories available") 
                        div#timeslotSection
                          div Time
                          button#timeslotButton(class="toggleDropDownButton", value="timeslots") {{selectedTimeslot.start_time[0]}}
                        a#bookButton(ng-href="http://activityexplorer.activitar.com/portal_bookings/new?service_id={{activity.id[0]}}&date={{selectedDate | date:'dd MMMM yyyy'}}&adults={{selectedAdults}}&children={{selectedChildren}}&timeslot={{selectedTimeslot.id[0]}}&supplier_id={{activity.supplier_id[0]}}") 
                          | Book
                      div(ng-available="available[0].inventories unavailable")
                        div#nospace There is not enough space on {{selectedDate | date:'dd MMMM yyyy'}} to accommodate {{selectedAdults}} adults and {{selectedChildren}} children. 
                    div(ng-visible="!availabilityDone")
                      div#newDetails New booking details. Click to check availability:
                      button#checkAvailability(ng-click="availabilityCheck(selectedAdults, selectedChildren, selectedDate, activity.id[0])") Check Availability
                  div#loadingAvailability(ng-visible="availabilityLoading")
              div#resultBookinClose(ng-click='hideTabs()')

            
              
        div.resultName(ng-click='hideTabs()') 
          span
          div.duration {{getDuration(activity.duration[0])}} hours
        div.resultExtra(ng-click='hideTabs()')
          span.leftExtra
            | {{activity.location[0]}}
          span.price R{{price(activity.price[0])}} per person
            
    div#resultBackground(ng-click="popUpResultClose()")

    
    div#adultsDropDown(ng-style="adultsDropDownStyle")
      button.dropDownButton(ng-repeat="adult in adults", class='ng-class: adultsClass(adult)', ng-click="adultsSelect(adult)") {{adult}}
    div#childrenDropDown(ng-style="childrenDropDownStyle")
      button.dropDownButton(ng-repeat="child in children", class='ng-class: childrenClass(child)', ng-click="childrenSelect(child)") {{child}}
    div#timeslotsDropDown(ng-style="timeslotsDropDownStyle")
      button.dropDownButton(ng-repeat="timeslot in timeslots", class='ng-class: timeslotClass(timeslot)', ng-click="timeslotSelect(timeslot)") {{timeslot.start_time[0]}}

    div#popups
      div#about(ng-style="popUpStyle", class="popup")
        div#popUpTopBar
          span#popUpTabTitle
            image#moreLogo(src='/img/logo-small2.png', height=28, width=289)
        span#social
          div#twitter 
            a(href="https://twitter.com/ActivityExplore", class="twitter-follow-button", data-show-count="false") Follow @ActivityExplore
            script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      

          div#facebook
            iframe(src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FActivityExplorer&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;font=arial&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=177056142347559", scrolling="no", frameborder="0", style="border:none; overflow:hidden; width:100px; height:21px;", allowTransparency="true")  
          
          div#gplus
            div(class="g-plusone", data-size="tall", data-annotation="inline", data-width="140", data-href="https://plus.google.com/u/0/111349483941515876378/")
            script(type="text/javascript")
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();

    div#background

    nav#footer
      #view
        label(class='ng-class: viewButtonClass("/small")')
          span
          a(href="/small") Small
        label(class='ng-class: viewButtonClass("/medium")')
          span
          a(href="/medium") Medium
        label(class='ng-class: viewButtonClass("/large")')
          span
          a(href="/large") Large
      ul.footerList
        button#help(type='button', value='help') 
          span Help
          // button.barButton(type='button', value='about') 
          // span About


    script(type='text/javascript', src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js")
    script(type='text/javascript', src='/js/angular-ui.min.js')
    script(type='text/javascript', src='/js/angular-ui-ieshiv.min.js')
    script(type='text/javascript', src='/js/ui-bootstrap-0.1.0.min.js')
    script(type='text/javascript', src='/js/app.js')
    script(type='text/javascript', src='/js/controllers.js')
    script(type='text/javascript', src='/js/directives.js')
    script(type='text/javascript', src='/js/filters.js')
    script(type='text/javascript', src='/js/services.js')
    script(type="text/javascript", charset="utf-8")
      Tender = {
        hideToggle: true,
        hide_kb: true,
        category: 'problems',
        widgetToggles: [document.getElementById('help')]
      } 
    script(type="text/javascript", src="https://activity-explorer.tenderapp.com/tender_widget.js")