doctype 5
html(lang='en', ng-app='activity_mobile')

  head
    title= title
    meta(name="detectify-verification", content="505388be3469f9a32b6e99eabb1954e0")
    link(rel='stylesheet', href='/css/jquery-ui-1.9.1.custom.min.css')
    link(rel='stylesheet', href='/css/angular-ui.min.css')
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css")
    link(rel='stylesheet', href='/css/mobile.css')
    script(type='text/javascript', src='/js/jquery-1.8.2.min.js')
    script(type='text/javascript', src='/js/jquery-ui-1.9.1.custom.min.js')
    script(type='text/javascript', src='/js/quo.js')
    script(type='text/javascript', src='/js/extra_mobile.js')

body(ng-controller='MobileCtrl')  
    div#header
      div#logo
        image(src='http://oi46.tinypic.com/2s6afba.jpg', height=168, width=510)
      div#searchLogo
        image(src='http://www.clker.com/cliparts/r/N/1/v/H/d/magnifying-lens-hi.png', height=160, width=160)  
      div#settings
        image(src='http://i47.tinypic.com/10mr1af.png', height=170, width=170)    
    
        
     

  nav#footer
      ul.footerList
        button.barButton(type='button', value='more')
          span More  

    script(type='text/javascript', src='/js/angular.min.js')
    script(type='text/javascript', src='/js/angular-ui.min.js')
    script(type='text/javascript', src='/js/angular-ui-ieshiv.min.js')
    script(type='text/javascript', src='/js/ui-bootstrap-0.1.0.min.js')
    script(type='text/javascript', src='/js/app_mobile.js')
