
extends mobile_layout

block content
<<<<<<< HEAD
  div(ng-view)
=======
  div#mobileLogo
    | Activity 
    span.orange Explorer
  div#mobileSoon
    | Mobile support coming very soon.
>>>>>>> master
