doctype 5
html(lang='en', ng-app='activity_mobile')

  head
    meta(charset="utf-8")
    title= title
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='HandheldFriendly', content='True')
    meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
    meta(http-equiv='cleartype', content='on')
    link(rel='stylesheet', href='/css/angular-ui.min.css')
    link(rel='stylesheet', href='/css/mobile.css')
    link(rel='stylesheet', href='/css/lungo.css')
    link(rel='stylesheet', href='/css/lungo.icon.css')
    link(rel='stylesheet', href='/css/lungo.icon.brand.css')
    link(rel='stylesheet', href='/css/theme.lungo.css')

    script(type='text/javascript', src='/js/quo.js')
    script(type='text/javascript', src='/js/extra_mobile.js')

  body(class="app", ng-controller='MobileCtrl')  
      
      block content        

      script(type='text/javascript', src='/js/lungo.js')
      script(type='text/javascript', src='/js/angular.min.js')
      script(type='text/javascript', src='/js/angular-ui.min.js')
      script(type='text/javascript', src='/js/angular-ui-ieshiv.min.js')
      script(type='text/javascript', src='/js/lungo_mobile.js')
      script(type='text/javascript', src='/js/app_mobile.js')
 