@font-face {
    font-family: 'DISTGRG';
    src: url('/fonts/DISTGRG-webfont.eot');
    src: url('/fonts/DISTGRG-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/DISTGRG-webfont.woff') format('woff'),
         url('/fonts/DISTGRG-webfont.ttf') format('truetype'),
         url('/fonts/DISTGRG-webfont.svg#LANENAR') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body{
  background: #7cdafe !important;
}

.headA{
  color: #f28e36;
  font-family: 'DISTGRG'; 
  font-size: 20px;
  text-shadow: 1px 1px 1px #000;
}

.headB{
  color: #fff;
  font-family: 'DISTGRG'; 
  font-size: 20px;
  text-shadow: 1px 1px 1px #000;

}

.white{
  color: #fff;
}

.headBlue {
  background: #0074ff !important;
}

.backBlue{
  background: #7cdafe !important;
}

.icon {
  color: #f28e36 !important;
  text-shadow: 0px 1px 1px #000 !important;
}

.asideHeadBlue{
  background: #0766d4 !important;
}

.asideBlue{
  background: #34afdb !important;
}

aside .list li.active {
  background: #0074ff !important;
}

header {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

#searchMenu{
  height: 300px;
  width: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25), inset 0 1px 0 #03b1ff, inset 0 -1px 0 #007db5;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25), inset 0 1px 0 #03b1ff, inset 0 -1px 0 #007db5;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25), inset 0 1px 0 #03b1ff, inset 0 -1px 0 #007db5;

  background-color: rgb(44,185,245);
  background-image: linear-gradient(bottom, rgb(51,170,255) 43%, rgb(51,190,255) 72%, rgb(61,190,255) 86%);
  background-image: -o-linear-gradient(bottom, rgb(51,170,255) 43%, rgb(51,190,255) 72%, rgb(61,190,255) 86%);
  background-image: -moz-linear-gradient(bottom, rgb(51,170,255) 43%, rgb(51,190,255) 72%, rgb(61,190,255) 86%);
  background-image: -webkit-linear-gradient(bottom, rgb(51,170,255) 43%, rgb(51,190,255) 72%, rgb(61,190,255) 86%);
  background-image: -ms-linear-gradient(bottom, rgb(51,170,255) 43%, rgb(51,190,255) 72%, rgb(61,190,255) 86%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.43, rgb(51,170,255)),
    color-stop(0.72, rgb(51,190,255)),
    color-stop(0.86, rgb(61,190,255))
  );
}

#resultsView{
  background: #7cdafe;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#loading{
  background-image: url('/img/loading_128.gif');
  position: relative;
  width: 128px;
  height: 128px;
  margin-left: auto;
  margin-right: auto;
  top: 15%; 
}

.result{
  width: 80%;
  margin: 15px 10% 15px 10%;
  -moz-box-shadow: 0px 2px 8px #616161;
  -webkit-box-shadow: 0px 2px 10px #616161;
  box-shadow: 0px 2px 10px #616161;
}

.resultImage{
  width: 100%;
}

.resultDetails{
  height: 25px;
  background-color: #26aeea;
}

.resultDetailsMore{
  height: 25px;
  background-color: #fff;
}

.topLeft{
  padding-left: 10px;
  line-height: 22px;
  float: left;
  display: inline-block;
  color: #fff;
  text-shadow: 0px 1px 1px #000;
}

.topRight{
  padding-right: 10px;
  line-height: 22px;
  float: right;
  display: inline-block;
  color: #fff;
  text-shadow: 0px 1px 1px #000;
}
.bottomLeft{
  padding-left: 10px;
  line-height: 22px;
  float: left;
  display: inline-block;
  color: #1898c7;
}

.bottomRight{
  padding-right: 10px;
  line-height: 22px;
  float: right;
  display: inline-block;
  color: #ff8426;
}

.iconRight{
  padding-right: 6px;
  padding-top: 2px;
  float: right;
  display: inline-block;
  color: #666666;
}
/*
.searchBox{
  width: 80%;
  height: 30px;
  margin: 15px 10% 15px 10%;
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: inset 2px 2px 4px #ccc;
  -moz-box-shadow: inset 2px 2px 4px #ccc;
  box-shadow: inset 2px 2px 4px #ccc;
  overflow: hidden; 
}*/