@font-face {
    font-family: 'DISTGRG';
    src: url('/fonts/DISTGRG-webfont.eot');
    src: url('/fonts/DISTGRG-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/DISTGRG-webfont.woff') format('woff'),
         url('/fonts/DISTGRG-webfont.ttf') format('truetype'),
         url('/fonts/DISTGRG-webfont.svg#LANENAR') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'SofiaProLight';
    src: url('/fonts/sofiaprolight-webfont.eot');
    src: url('/fonts/sofiaprolight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/sofiaprolight-webfont.ttf') format('truetype'),
         url('/fonts/sofiaprolight-webfont.svg#SofiaProLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cantarell-Regular';
    src: url('/fonts/Cantarell-Regular-webfont.eot');
    src: url('/fonts/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Cantarell-Regular-webfont.woff') format('woff'),
         url('/fonts/Cantarell-Regular-webfont.ttf') format('truetype'),
         url('/fonts/Cantarell-Regular-webfont.svg#Cantarell-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body{
  background: #7cdafe !important;
}

.headA{
  color: #f28e36;
  font-family: 'DISTGRG'; 
  font-size: 20px;
  text-shadow: 1px 1px 1px #000;
}

.headB{
  color: #fff;
  font-family: 'DISTGRG'; 
  font-size: 20px;
  text-shadow: 1px 1px 1px #000;

}

.white{
  color: #fff;
}

.headBlue {
  background: #0074ff !important;
}

.backBlue{
  background: #7cdafe !important;
}

.icon {
  color: #f28e36 !important;
  text-shadow: 0px 1px 1px #000 !important;
}

.asideHeadBlue{
  background: #0766d4 !important;
}

.asideBlue{
  background: #34afdb !important;
}

aside .list li.active {
  background: #0074ff !important;
}

header {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

#searchMenu{
  height: 300px;
  width: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25), inset 0 1px 0 #03b1ff, inset 0 -1px 0 #007db5;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25), inset 0 1px 0 #03b1ff, inset 0 -1px 0 #007db5;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25), inset 0 1px 0 #03b1ff, inset 0 -1px 0 #007db5;

  background-color: rgb(44,185,245);
  background-image: linear-gradient(bottom, rgb(51,170,255) 43%, rgb(51,190,255) 72%, rgb(61,190,255) 86%);
  background-image: -o-linear-gradient(bottom, rgb(51,170,255) 43%, rgb(51,190,255) 72%, rgb(61,190,255) 86%);
  background-image: -moz-linear-gradient(bottom, rgb(51,170,255) 43%, rgb(51,190,255) 72%, rgb(61,190,255) 86%);
  background-image: -webkit-linear-gradient(bottom, rgb(51,170,255) 43%, rgb(51,190,255) 72%, rgb(61,190,255) 86%);
  background-image: -ms-linear-gradient(bottom, rgb(51,170,255) 43%, rgb(51,190,255) 72%, rgb(61,190,255) 86%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.43, rgb(51,170,255)),
    color-stop(0.72, rgb(51,190,255)),
    color-stop(0.86, rgb(61,190,255))
  );
}

#resultsView{
  background: #7cdafe;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.loadingMargin{
  margin-top: 180px;
}

.loading.white > span.top{background-color:rgba(255,132,38,0.99)!important}
.loading.white > span.top::after{background-color:rgba(255,132,38,0.9)!important}
.loading.white > span.left::before{background-color:rgba(255,132,38,0.8)!important}
.loading.white > span.left{background-color:rgba(255,132,38,0.7)!important}
.loading.white > span.left::after{background-color:rgba(255,132,38,0.6)!important}
.loading.white > span.bottom::before{background-color:rgba(255,132,38,0.5)!important}
.loading.white > span.bottom{background-color:rgba(255,132,38,0.4)!important}
.loading.white > span.bottom::after{background-color:rgba(255,132,38,0.35)!important}
.loading.white > span.right::before{background-color:rgba(255,132,38,0.3)!important}
.loading.white > span.right{background-color:rgba(255,132,38,0.25)!important}
.loading.white > span.right::after{background-color:rgba(255,132,38,0.2)!important}
.loading.white > span.top::before{background-color:rgba(255,132,38,0.15)!important}

.result{
  width: 90%;
  margin: 15px 5% 15px 5%;
  -moz-box-shadow: 0px 2px 8px #616161;
  -webkit-box-shadow: 0px 2px 10px #616161;
  box-shadow: 0px 2px 10px #616161;
}

.resultImage{
  width: 100%;
  min-height: 160px;
}

.resultDetails{
  height: 25px;
  background-color: #26aeea;
}

.resultDetailsMore{
  height: 25px;
  background-color: #fff;
}

.topLeft{
  padding-left: 10px;
  line-height: 22px;
  font-size: 15px;
  float: left;
  display: inline-block;
  color: #fff;
  text-shadow: 0px 1px 1px #000;
}

.topRight{
  padding-right: 10px;
  line-height: 22px;
  font-size: 15px;
  float: right;
  display: inline-block;
  color: #fff;
  text-shadow: 0px 1px 1px #000;
}
.bottomLeft{
  padding-left: 10px;
  line-height: 22px;
  font-size: 15px;
  float: left;
  display: inline-block;
  color: #1898c7;
}

.bottomRight{
  padding-right: 10px;
  line-height: 22px;
  font-size: 15px;
  float: right;
  display: inline-block;
  color: #ff8426;
}

.iconRight{
  padding-right: 6px;
  padding-top: 2px;
  float: right;
  display: inline-block;
  color: #666666;
}

.optionsDiv{
  padding-top: 15px;
}

.optionsText{
  padding-right: 16%;
  font-size: 17px;
  color: #fff;
  text-shadow: 0px 1px 1px #000;
}

.searchText{
  display: inline-block;
  padding-left: 10px;
}

#images{
  width: 100%;
  min-height: 200px;
}

#moreButtons{
  height: 35px;
  width: 100%;
}

.moreButtonsActual{
  margin: 5px 0px 5px 10%;
  height: 25px;
  width: 20%;
}

.moreTitle {
  font-family: "SofiaProLight";
  color: white;
  font-size: 14px;
  text-shadow: 0px 1px 1px #000;
  margin: auto;
}

#more{
  background-color: #f7f5f5;
  font-family: 'Cantarell-Regular';
  text-align: center;
}

.detailTitle{
  font-weight: bold;
  padding: 6px 0px 4px 0px;
}
/*
.searchBox{
  width: 80%;
  height: 30px;
  margin: 15px 10% 15px 10%;
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: inset 2px 2px 4px #ccc;
  -moz-box-shadow: inset 2px 2px 4px #ccc;
  box-shadow: inset 2px 2px 4px #ccc;
  overflow: hidden; 
}*/

#themeTop {
  font-family: "SofiaProLight";
  color: white;
  font-size: 20px;
  text-shadow: 0px 1px 1px #000;
  
  position: relative;
  top: 0px;
  left: 20px;
  width: 30%;
  height: 40px;
  margin: 5px 0px 5px 0px;
  padding-bottom: 5px;
}

.themeTitle {
  font-family: "SofiaProLight";
  color: white;
  font-size: 15px;
  text-shadow: 0px 1px 1px #000;
  display: inline-block;
  text-align: center;
}

.filtersDiv{
  padding: 0px 0px 20px 9%;
  width: 100%;
  height: 50px;
}

.filtersButtons{
  width: 25%;
  height: 30px;
  margin-right: 8%;
}

.themesText{  
  font-family: "SofiaProLight";
  color: white;
  font-size: 14px;
  text-shadow: 0px 1px 1px #000;
  padding-top: 10px;
}

.themeButton {
  font-family: "SofiaProLight";
  color: white;
  font-size: 11px;
  text-shadow: 0px 1px 1px #000;

  height: 26px;
  margin: 0;
  display: inline-block;
  
  background-color: transparent;
  border: 0;  
  box-shadow: none;
  border-radius:5px;
}

.checkbox{
  float: right;
  width: 5px;
  height: 5px;
}

.checkboxSize{
}

#themeLeft {  
  float: left;
  display: inline-block;
  width: 40%;
  height: 180px;
  margin-left: -15px;
  margin-top: 20px;
}

#themeRight {  
  float: right;
  display: inline-block;
  width: 40%;
  height: 180px;
  margin-right: 35px;
  margin-top: 20px;
}

.refineDivs{
  padding-top: 20px;
  padding-right: 10%;
}

.refineTitle{
  font-family: "SofiaProLight";
  color: #f99331;
  font-size: 17px;
  text-shadow: 0px 1px 1px #000;
}

.refineExtra{
  font-family: "SofiaProLight";
  color: white;
  font-size: 17px;
  text-shadow: 0px 1px 1px #000;
  float: right;
}

.sliderDiv{
  padding-top: 5px;  
}

.slider{
  width: 100%;  
}

.sortText{
  width: 92%;
  font-family: "SofiaProLight";
  color: white;
  font-size: 18px;
  text-shadow: 0px 1px 1px #000;
  padding-top: 15px;
  text-align: center;
  display: inline-block;
}

.sortSpace{
  padding: 12px 0px 6px 0px;
}
